
body{font-size:18px;}
a{transition:color ease .3s;}
article h2{display:inline-block;margin:30px 0 20px 0;padding:8px 15px;border:1px solid #34302d;background-color:#fff;border-radius:50px;font-size:22px;}
article h2 + p,
article h2 + h3,
article pre + p{margin-top:0;}
article p + h2{margin-top:10px}
article ul li{word-wrap:break-word;word-break:keep-all;}
p a, li a{text-decoration:none;}
 
.post-main-content a{
	display:inline-block;
	text-decoration:none;
	/* background-repeat:repeat-x; */
    /* background-image:linear-gradient(to bottom, rgba(8,147,120,0.8) 50%, rgba(8,147,120,0) 50%); */
	/* background-image:linear-gradient(to bottom, rgba(255,176,0,0.8) 50%, rgba(255,176,0,0) 50%); */
	/* background-image: linear-gradient(to bottom, rgba(109,179,63,0.8) 50%, rgba(109,179,63,0) 50%);	 */
	/* background-size:2px 0.3em; */
    /* background-position:0 1.35em; */
	/* background-position:0 1.12em; */
	/* color:#ffb000; */
    /* color:#089378; */
    color:burlywood;
    font-weight:600;
}
.post-main-content a i{position:relative;top:-8px;margin:0 2px;font-size:14px;}

h3{margin-top:15px;font-size:18px;}
h5{font-size:18px;}
p{margin:20px 0;}

.intro-header .post-heading .meta{margin-top:15px;font-size:18px;}

@media only screen and (min-width:1200px){

	.container.main,
	.intro-header.post .container,
	article .container{width:970px;}

	#site_search{width:84%;}
	.container.main .index-category{margin-left:8%;padding-right:0;width:14%;}
	.container.main .index-page{margin-left:0;padding-left:50px;width:70%;}
	
	.intro-header.post .container,
	article .container{background-color:#fff;border:1px solid #34302d;}

	.intro-header.post{padding-top:51px;}
	.intro-header.post .container{border-bottom:0;}
	article .container{margin-bottom:50px;padding-bottom:30px;border-top:0;}
	.intro-header .post-heading h1{margin-top:30px;font-size:45px;}

	.post-main-content{margin-left:8%;padding:0;width:84%;}
	.container.main{margin-bottom:50px;padding:50px 0 30px 0;background-color:#fff;border:1px solid #34302d;}

	.post-heading-wrap,
	.post-comment{margin-left:8%;width:84%;}	
	.post-tags, .post-categories{width:42%;}
	.post-tags{margin-left:8%;}

}

.box{padding:10px 15px;background-color:#f5f5f5;border:1px solid #ccc;border-radius:50px;}
.highlight{color:burlywood;font-weight:600;}
    
#page-nav{margin:20px 0;width:100%;text-align:center;}
#page-nav .next, #page-nav .page-number, #page-nav .prev{margin-right:5px;margin-left:5px;font-size:90%;}
#page-nav .current{color:burlywood;font-weight:600;vertical-align:top;}
#page-nav a:hover,
#page-nav a:active,
#page-nav a:focus{text-decoration:none;}

@media only screen and (min-width:1200px){
    #page-nav{margin:30px 0 0 0;}
}

.tag-box{margin:0 -1%;}
.tag-box li{float:left;width:100%;}
@media only screen and (min-width:1200px){
	.tag-box li{margin:0 0.5%;width:48%;}
}
.tag-box:after{display:block;content:"";clear:both;visibility:hidden;}
.tag-box a{display:inline-block;margin:2px;padding:5px 10px;border:1px dotted #bbb;border-radius:5px;width:100%;font-size:18px;font-weight:600;text-align:center;text-decoration:none;}
.tag-box a:hover,
.tag-box a:active,
.tag-box a:focus{background-color:#DFC19A;color:#fff;transition:background-color ease .3s;}
.tag-box a sup:before{content:"(";}
.tag-box a sup:after{content:")";}

#progress {
    display: none;
    overflow: hidden;
    left: 0;
    top: 80px;
    position: fixed;
    height: 8px;
    width: 100%;
    background: rgba(0,0,0,.2);
    z-index: 900;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
 }

 #bar {
    background-color: #888;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
 }

#progress .container {
    max-width: 845px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 0;
}

#scroll-title {
    color: #fff;
    position: absolute;
    top: 0;
    padding: 5px 0;
}

::-moz-selection{background-color:#3390FF;}
::selection{background-color:#3390FF;}


.navbar-custom.navbar-fixed-top .navbar-collapse a{position:relative;font-style:italic;}
.navbar-custom.navbar-fixed-top .navbar-collapse a:after{content:"";position:absolute;left:50%;right:50%;bottom:8px;height:1px;margin:0 12px;-webkit-transition:all 0.2s;-moz-transition:all 0.2s;-ms-transition:all 0.2s;-o-transition:all 0.2s;transition:all 0.2s}

.navbar-custom.navbar-fixed-top .navbar-collapse a:hover{color:burlywood;}
.navbar-custom.navbar-fixed-top .navbar-collapse a:hover:after{left:0;right:0;background-color:burlywood}

@media only screen and (min-width:1200px){
    .navbar-custom.navbar-fixed-top .navbar-collapse a:hover{color:#fff;}
    .navbar-custom.navbar-fixed-top .navbar-collapse a:hover:after{background-color:#fff}
}

.post-preview > a.tag{margin-left:5px;}


.navbar-brand{font-size:22px;}
.navbar-custom.navbar-fixed-top .navbar-brand span.logo{top:-5px;width:23px;height:23px;}

.navbar-custom.navbar-fixed-top .navbar-brand{color:#dfc19a;font-style:italic;}
.navbar-custom.navbar-fixed-top .navbar-brand span.sub{position:relative;left:-5px;font-weight:normal;letter-spacing:-1px;}
.navbar-custom.navbar-fixed-top .navbar-brand span.sub span{color:#fff;}


.navbar-custom.navbar-fixed-top{height:52px;}
.navbar-custom.navbar-fixed-top .navbar-right{padding-top:0;}

.navbar-custom.navbar-fixed-top .navbar-toggle{margin-top:8px;padding:8px 5px;}

.navbar-custom.navbar-fixed-top .navbar-brand{padding:15px;}


@media only screen and (min-width:768px){
    .navbar-custom.navbar-fixed-top .navbar-brand,
    .navbar-custom .nav li a{padding:15px;}
}

@media only screen and (min-width:1200px){
    #top .container-fluid{position:relative;margin:0 auto;padding:0;width:970px;}
}

.intro-header .container{margin-top:50px;}

.footer{padding:12px 0;}

#about img{padding:0;border:0;width:70%;}
#about p{margin:0;padding:15px;background-color:#000;border-top:1px solid #fff;color:#fff;text-align:right;}
#about p:first-child{padding:0;border-top:0;}

article .container .row img{padding:20px;border:1px dashed #595654;}

.order{margin-top:30px;padding:19px 30px;border:1px solid #deb887;color:#deb887;}

.book_cnt{margin-top:30px;padding:20px;border:1px solid #deb887;color:#deb887;}
.post-main-content .book_cnt p{overflow:hidden;}

article .container .row .book_cnt img{padding:0;border:0;}
article .container .row .book_cnt .book-img img{margin-top:-20%;margin-bottom:-20%;}

@media only screen and (min-width:768px){
    article .container .row .book_cnt .book-img img{margin-top:-16.5%;margin-bottom:-16.5%;}
}

article .container .row .post-main-content .memo img{margin:-20px auto 20px;}

@media only screen and (min-width:768px){
    article .container .row .post-main-content .memo img{width:50%;} 
}
